{% extends 'anagrafica_utente_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    {{ elenco_nome }}
{% endblock %}

{% block app_contenuto %}

    <h2 class="allinea-centro">
        <i class="fa fa-fw fa-users"></i>
        {{ elenco_nome }}
    </h2>
    <p class="allinea-centro">
        <b>Sed{% if sedi|length > 1 %}i{% else %}e{% endif %}: </b>
        {% for sede in sedi %}
            <span>{{sede}}{% if not forloop.last %} - {% endif %}</span>
        {% endfor %}
    </p>

    {% if elenco_template %}
        {% include elenco_template %}
    {% endif %}

    <hr />

    {% load utils %}
    {% elenco elenco %}

{% endblock %}